@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4; /* Light background color for the whole page */
  color: #333;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff; /* White background for the container */
  border-radius: 8px; /* Rounded corners for the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

h1 {
  color: #333;
  font-size: 2em; /* Larger font size for the main heading */
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  color: #555;
  font-size: 1.5em;
  margin-bottom: 15px;
}

input,
select,
button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

input,
select {
  background-color: #f9f9f9; /* Light background for input and select fields */
}

input:focus,
select:focus {
  border-color: #007bff; /* Highlight border color on focus */
  outline: none; /* Remove default focus outline */
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#records {
  list-style-type: none;
  padding: 0;
}

#records li {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
}

#records li:nth-child(odd) {
  background: #f9f9f9;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#pagination button:hover {
  background-color: #0056b3;
}

#pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#pageInfo {
  font-size: 16px;
  margin: 0 10px;
}
